@import url(https://use.typekit.net/unr8xnu.css);
::selection{
    color:#fff;
    background:#007293
}
::-moz-selection{
    color:#fff;
    background:#007293
}
body,html{
    font-display:swap;
    font-family:brother-1816,open sans,Roboto,sans-serif;
    margin:0;
    background:#101010;
    color:#adadad
}
body,html{
    height:calc(100% - 60px)
}
.body-full{
    height:100%
}
.centerpush{
    width:1240px;
    margin:0 auto;
    padding-left:20px;
    padding-right:20px
}
.flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.flex input{
    min-width:0
}
.flextwocol{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.flexmain{
    -webkit-box-flex:6;
    -ms-flex-positive:6;
    flex-grow:6
}
@media screen and (max-width:1280px){
    .centerpush{
        width:auto;
        padding-left:20px;
        padding-right:20px
    }
    .header-centerpush{
        width:auto!important
    }
}
@media screen and (max-width:950px){
    .features{
        display:block
    }
    .features .right{
        text-align:center;
        border-left:none;
        margin-left:0;
        padding-left:0;
        max-width:100%;
        min-width:0
    }
    .screenshots .screenshotlist a{
        width:48%
    }
}
@media screen and (max-width:650px){
    table.twocol tr td{
        display:block
    }
    table.twocol tr td.left{
        padding-right:0
    }
    table.twocol tr td.right{
        padding-left:0
    }
    .card_download{
        display:block
    }
    .card_download a.action{
        margin-top:10px
    }
    .login-submit{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .login-submit .login-link{
        margin-left:0;
        margin-right:0
    }
    .login-submit .login-link:last-child{
        margin-top:.5em
    }
    .pagewrap-center .item-centered{
        max-width:100%!important;
        width:100%
    }
    .footer-container{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .metainfo{
        margin-right:0!important
    }
    .buybox{
        padding-left:0!important;
        padding-right:0!important
    }
}
@media screen and (max-width:800px){
    .info{
        display:block!important
    }
    .info .buybox{
        border:none!important
    }
    .metainfo .key-features{
        -webkit-column-count:2;
        column-count:2
    }
    section.content{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .userDetails{
        margin-left:0!important;
        width:100%!important
    }
    .flexmain{
        -webkit-box-flex:1;
        -ms-flex:1;
        flex:1;
        width:100%
    }
    .flex-cont{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .header-media{
        -webkit-box-orient:vertical!important;
        -webkit-box-direction:normal!important;
        -ms-flex-direction:column!important;
        flex-direction:column!important
    }
    .orbxlogo{
        text-align:center;
        padding:.5em;
        margin-right:0!important;
        margin-left:0!important;
        display:inline-block;
        margin-top:12px;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
    .flex-cont-center{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
    #hamburger{
        display:-webkit-box!important;
        display:-ms-flexbox!important;
        display:flex!important
    }
    nav{
        padding-bottom:10px;
        display:none!important;
        -webkit-box-pack:center!important;
        -ms-flex-pack:center!important;
        justify-content:center!important
    }
    nav ul{
        text-align:center!important;
        display:-webkit-box!important;
        display:-ms-flexbox!important;
        display:flex!important;
        -webkit-box-orient:vertical!important;
        -webkit-box-direction:normal!important;
        -ms-flex-direction:column!important;
        flex-direction:column!important
    }
    nav ul li{
        display:block;
        line-height:2.3em
    }
    nav ul li a{
        display:block;
        margin-left:0!important
    }
    nav ul .submenu{
        background:none;
        position:static!important;
        margin-left:0!important;
        -webkit-box-orient:vertical!important;
        -webkit-box-direction:normal!important;
        -ms-flex-direction:column!important;
        flex-direction:column!important;
        min-width:200px!important
    }
    nav ul .submenu .submenu-content{
        padding:10px 14px 5px!important
    }
    nav ul .submenu li a{
        color:hsla(0,0%,100%,.67)
    }
    nav ul .submenu li a.active{
        background-color:transparent
    }
    .module .left{
        display:block
    }
    .module .left .halfwidth{
        width:100%
    }
    .module .right{
        display:block
    }
    .module .right img{
        max-width:75%;
        margin:0
    }
    .productpage .productflex{
        display:block!important
    }
    .productpage .productflex .buybox{
        margin:25px auto 0!important
    }
    .register-bg-outer{
        height:auto!important
    }
    .cat-card{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .cat-card .item:first-child{
        margin-left:1em!important
    }
    .cat-card .item:last-child{
        margin-right:1em!important
    }
    #demo-img{
        display:none!important
    }
}
@media screen and (max-width:500px){
    .metainfo .key-features{
        -webkit-column-count:1;
        column-count:1
    }
    .screenshots .screenshotlist a{
        width:100%
    }
    .category-filter .category-filter-inner{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-align:left;
        -ms-flex-align:left;
        align-items:left;
        padding:20px 10px
    }
    .category-filter .category-filter-inner .category-filter-group{
        margin-right:0
    }
    .category-filter .category-filter-inner .category-filter-group label{
        width:100px
    }
    .category-filter .category-filter-inner .category-filter-group select{
        width:150px
    }
    .category-filter .category-filter-inner .category-filter-group:first-child{
        margin-bottom:10px
    }
    #mainnav .btn{
        display:none!important
    }
}
@media screen and (max-width:320px){
    select{
        width:234px
    }
}
@media screen and (max-width:1400px){
    .login-bg-card{
        min-width:0!important;
        margin-right:10px;
        margin-left:10px
    }
}
a{
    color:#d7d7d7;
    text-decoration:none;
    font-weight:400;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
a::-moz-focus-inner{
    border:0
}
a:hover{
    color:#fff
}
a:active{
    color:#d7d7d7
}
h1,h2,h3,h4,h5,h6{
    font-family:inherit;
    font-weight:400;
    color:#fff;
    padding:0;
    margin-top:.5em;
    margin-bottom:.5em
}
h1{
    font-size:1.9em
}
h2{
    font-size:1.6em;
    font-weight:600
}
h3{
    font-size:1.3em
}
h4{
    font-size:1.1em
}
h5{
    font-size:1em
}
h6{
    font-size:.8em
}
p.sub{
    margin:0;
    color:#f2f2f2;
    max-width:600px
}
p{
    margin-top:1.5em;
    margin-bottom:1.5em;
    line-height:1.6em
}
strong{
    color:#f2f2f2;
    font-weight:700
}
span.primary{
    font-weight:500;
    color:#efb841
}
span.secondary-muted{
    color:#d9d9d9;
    font-size:.5em;
    font-weight:400
}
hr{
    border:1px solid #434343;
    border-style:dashed
}
hr.divider{
    border-top:1px solid #000;
    border-bottom:1px solid #1d1d1d
}
.underline{
    text-decoration:underline
}
.uc{
    text-transform:uppercase
}
.em{
    font-style:italic
}
.text-container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.text-container h2{
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1
}
.text-container span{
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
.text-center{
    text-align:center!important
}
.text-left{
    text-align:left!important
}
.text-right{
    text-align:right!important
}
.text-red{
    color:#c03a36
}
.text-green{
    color:#007b00
}
.btn{
    border:0;
    outline:0;
    cursor:pointer;
    outline:none;
    vertical-align:baseline;
    margin:0;
    padding:.4em .5em;
    text-transform:none;
    text-shadow:none;
    font-weight:300;
    font-style:normal;
    font-size:1em;
    color:#fff;
    text-align:center;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-decoration:none;
    background-image:none;
    background-color:transparent;
    -webkit-transition:all .2s;
    transition:all .2s;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    -webkit-tap-highlight-color:transparent
}
.btn strong{
    color:inherit
}
.btn::-moz-focus-inner{
    border:0
}
.btn svg{
    vertical-align:middle
}
.btn:active,.btn:hover{
    color:#fff
}
.btn:disabled{
    cursor:not-allowed
}
.btn-primary{
    background-color:#444
}
.btn-primary:hover{
    background-color:#515151
}
.btn-primary:active{
    background-color:#373737
}
.btn-success{
    background-color:#007b00
}
.btn-success:hover{
    background-color:#009500
}
.btn-success:active{
    background-color:#006200
}
.btn-success:disabled{
    background-color:#00ae00
}
.btn-warning{
    background-color:#efb841
}
.btn-warning:hover{
    background-color:#f1c159
}
.btn-warning:active{
    background-color:#edaf29
}
.btn-danger{
    background-color:#c03a36
}
.btn-danger:hover{
    background-color:#cb4945
}
.btn-danger:active{
    background-color:#ac3430
}
.btn-blue{
    background-color:#164f84
}
.btn-blue:hover{
    background-color:#1a5c9a
}
.btn-blue:active{
    background-color:#12426e
}
.btn-mini{
    font-size:.75em;
    min-width:6.5em
}
.btn-small{
    font-size:.95em;
    min-width:7em
}
.btn-medium{
    font-size:1.1em;
    min-width:7.5em
}
.btn-big{
    font-size:1.5em;
    min-width:1.8em;
    letter-spacing:-1px
}
.btn-bigger{
    font-size:1.9em;
    min-width:6em;
    letter-spacing:-1px
}
.btn-m{
    margin-top:1.5em;
    margin-bottom:1.5em
}
.btn-group{
    padding-top:.75em;
    padding-bottom:.75em;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
}
.btn-group:first-child{
    padding-top:0
}
.btn-group:last-child{
    padding-bottom:0
}
.btn-cont-right{
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
.btn-cont-left,.btn-cont-right{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.btn-cont-left{
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start
}
.btn-cont-center{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
}
.btn-cont-center .btn{
    margin-bottom:.75em
}
.btn-cont-center .btn:last-child{
    margin-bottom:0
}
.btn-cont-center-row{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row
}
.btn-fw{
    width:100%
}
.content .info{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start
}
.content .info .metainfo{
    margin-right:20px
}
.buybox{
    text-align:center;
    padding:25px 50px;
    border:1px solid #444;
    min-width:230px
}
.buybox .purchasetitle{
    display:block;
    font-size:1.5em;
    color:#c5c5c5;
    font-weight:400;
    margin-bottom:10px
}
.buybox .oldprice{
    text-decoration:line-through;
    font-size:1.4em;
    color:rgba(255,0,0,.49);
    display:block;
    margin-top:7px
}
.buybox .price{
    display:block;
    font-size:2.45em;
    color:#fff;
    padding-bottom:15px;
    font-weight:300
}
.discounted{
    background:#0094b3
}
.discounted,.discounted-info{
    margin-bottom:25px;
    padding:10px 15px;
    color:hsla(0,0%,100%,.83)
}
.discounted-info{
    background:#164f84
}
.product-documentation{
    background:#272727;
    border:1px solid #4c4c4c;
    color:#fff;
    display:block;
    padding:15px
}
.product-documentation:hover{
    color:#ccc
}
img{
    max-width:100%
}
.videoWrapper{
    position:relative;
    padding-bottom:50%;
    padding-top:25px;
    height:0;
    border:1px solid #444;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.videoWrapper:hover{
    border-color:#515151
}
.videoWrapper iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.screenshots{
    position:relative
}
.screenshots .screenshotlist{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-line-pack:start;
    align-content:flex-start;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.screenshots .screenshotlist a{
    width:32%;
    margin-bottom:10px;
    border:1px solid #444;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.screenshots .screenshotlist a:hover{
    border-color:#515151
}
.screenshots .screenshotlist a:active{
    border-color:#373737
}
.screenshots .screenshotlist a img{
    width:100%
}
.screenshots .morescreenshots{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    padding-top:60px;
    padding-bottom:15px;
    font-size:1.2em;
    text-transform:uppercase;
    color:#fff;
    background:-webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,6%,0)),color-stop(65%,#101010),color-stop(81%,#101010));
    background:linear-gradient(180deg,hsla(0,0%,6%,0) 0,#101010 65%,#101010 81%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00101010",endColorstr="#101010",GradientType=0)
}
table.twocol{
    width:100%
}
table.twocol tr{
    vertical-align:top
}
table.twocol td.left{
    padding-right:8px
}
table.twocol td.right{
    padding-left:8px
}
table{
    width:100%;
    border-collapse:collapse
}
table td,table th{
    padding:.5em 1em;
    white-space:pre
}
table tbody td,table thead th{
    text-align:center
}
table thead{
    color:#fff;
    background:#1d1d1d
}
table thead th{
    padding:1em
}
table[data-comparing=active] tbody th{
    border-bottom:none;
    font-size:.75em;
    color:#767676;
    padding-bottom:0
}
.carousel .orbx_slide{
    height:600px
}
.carousel .orbx_slide,.module{
    background-position:50%!important;
    background-size:cover!important
}
.module{
    padding:30px 0
}
.module .left .halfwidth{
    width:70%
}
.ftx-module-header{
    background-color:#0e3456;
    padding-top:15px
}
.ftx-module-header .content{
    margin-top:0
}
.ftx-module{
    padding-bottom:0;
    margin-bottom:0
}
.ftx-module .ftx-image img{
    position:relative;
    opacity:.9;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.ftx-module .ftx-image img:hover{
    opacity:1
}
.ftx-module .ftx-image img:active{
    opacity:.9
}
.ftx-module-first{
    padding-top:50px
}
.ftx-module-second{
    padding-top:50px;
    background-color:#1d1d1d
}
.product{
    background:#1b1b1b;
    min-height:155px;
    position:relative;
    margin-top:15px;
    border:1px solid #444;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.product:hover{
    border-color:#515151
}
.product:active{
    border-color:#373737
}
.product .image{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:45%;
    background-size:cover;
    background-position-x:center;
    background-position-y:bottom;
    border-right:1px solid #444
}
.product .prodinfo{
    left:45%;
    padding:20px;
    margin-left:45%
}
.product .prodinfo span.cat_price{
    margin:5px 0 0;
    display:block;
    font-weight:700
}
.product .prodinfo span.cat_oldprice{
    color:rgba(255,0,0,.54);
    text-decoration:line-through;
    font-weight:400;
    margin-right:10px
}
.product .prodinfo span.cat_owned{
    display:block;
    color:hsla(0,0%,100%,.41);
    margin:5px 0 0;
    font-style:italic
}
.product .prodinfo .prodname{
    display:block;
    color:#fff;
    font-size:1.55em
}
.product .prodinfo .prodname span.primary{
    color:#efb841;
    font-weight:600
}
.product .prodinfo span.blurb{
    display:block;
    margin-top:6px;
    font-size:1.1em;
    color:#bfbfbf
}
.compatibility{
    margin:10px 0 0;
    padding:0;
    text-align:center
}
.compatibility li{
    display:inline;
    background:#292929;
    padding:2px 7px;
    color:#a9a9a9;
    line-height:35px;
    border:1px solid #3c3c3c;
    margin:.1em
}
.description p{
    padding:0
}
.description p:first-child{
    margin-top:0
}
.description p:last-child{
    margin-bottom:0
}
.key-features{
    margin:10px 0 0;
    padding:0 0 0 25px;
    -moz-column-count:3;
    -moz-column-gap:0;
    -moz-column-rule:none;
    -webkit-column-count:3;
    -webkit-column-gap:0;
    -webkit-column-rule:none;
    column-count:3;
    column-gap:0;
    column-rule:none;
    list-style-image:url("/img/aircrafticon.png")
}
.key-features li{
    position:relative;
    padding-bottom:4px;
    padding-left:5px;
    padding-right:5px;
    line-height:1.6em;
    -webkit-column-break-inside:avoid;
    break-inside:avoid-column;
    page-break-inside:avoid;
    margin-right:30px
}
@media screen and (max-width:800px){
    .product{
        max-width:450px;
        margin-left:auto;
        margin-right:auto
    }
    .product .image{
        position:relative;
        height:120px;
        width:100%
    }
    .product .image:after{
        display:none
    }
    .product .prodinfo{
        margin-left:0
    }
}
.card_download{
    background:#1b1b1b;
    padding:20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin:5px 0
}
.card_download.nobg{
    background:none;
    padding:10px 0;
    border-top:1px solid hsla(0,0%,100%,.2)
}
.card_download.noborder{
    border-top:none
}
.card_download h3.title{
    margin:0;
    color:#e2e2e2
}
.card_download p.content{
    margin:0
}
.modal{
    position:fixed;
    z-index:999999999999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    cursor:pointer
}
.modal .modalcell{
    padding:20px;
    background:#252525;
    max-width:520px;
    cursor:auto;
    position:relative
}
.modal .modalcell h2.title{
    margin:0
}
.modal .modalcell span.version{
    font-style:italic
}
.modal .modalcell a.exit{
    position:absolute;
    top:20px;
    right:20px;
    color:hsla(0,0%,100%,.46);
    cursor:pointer
}
.cart .update-cart{
    width:200px;
    min-width:200px;
    border:0;
    margin-bottom:10px
}
.cart .cartitem{
    margin-bottom:15px
}
.cart .cartitem .prices,.cart .cartitem .prices .quantity{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.cart .cartitem .prices .quantity{
    border:1px solid #444;
    margin-right:1.25em;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:90px
}
.cart .cartitem .prices .quantity label{
    color:#adadad;
    padding:5px 10px 0
}
.cart .cartitem .prices .quantity input{
    text-align:center;
    outline:none;
    background-color:#101010;
    color:#fff;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    min-width:30px;
    max-width:100%;
    display:inline-block
}
.cart .cartitem .meta{
    background:#1b1b1b;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    padding:10px 15px;
    border:1px solid #444;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.cart .cartitem .meta:hover{
    border-color:#6a6a6a
}
.cart .cartitem .meta:active{
    border-color:#373737
}
.cart .cartitem .meta .title{
    font-size:1.1em;
    color:#fff;
    margin-right:20px
}
.cart .cartitem .meta .title span.highlight{
    color:#efb841;
    font-weight:600
}
.cart .cartitem .meta .oldprice{
    text-decoration:line-through;
    font-style:italic;
    margin-right:15px
}
.cart .cartitem .meta .price{
    color:#fff
}
.cart .cartitem .meta .price,.cart .cartitem .meta a.remove{
    font-weight:700;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.cart .cartitem .meta a.remove{
    color:#c03a36;
    margin-left:10px
}
.cart .cartitem .details{
    border:2px solid #1b1b1b;
    padding:15px;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.cart .cartitem .details,.noproducts{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.noproducts{
    background:#1f1f1f;
    border:1px solid #444;
    padding:50px;
    text-align:center;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
}
.noproducts p{
    margin:0;
    font-size:1.2em
}
.noproducts .btn{
    margin-top:1.5em
}
.paymentmethods{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-top:20px;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
.paymentmethods .method{
    display:block;
    font-size:1.1em;
    text-align:center;
    margin-left:20px
}
.totalprice{
    text-align:right;
    font-size:1.3em
}
.totalprice em{
    display:block;
    font-size:.7em
}
.stripe-left{
    padding:2em;
    border:1px solid #444
}
.stripe-right{
    background-color:#164f84;
    padding:2em
}
.card-divider{
    margin-right:10px;
    margin-left:10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.jp-card-front{
    background:#101010!important
}
.alert{
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:.8em;
    color:hsla(0,0%,100%,.77)
}
.alert.alert-warning{
    background:#c03a36
}
.alert.alert-success{
    background:#007b00
}
.alert.alert-primary{
    background:#164f84
}
.alert.transaction{
    font-size:1.2em
}
.alert.small{
    padding:2px 5px
}
.userDetails{
    margin-left:20px;
    width:260px;
    min-width:260px
}
form .form-group{
    margin:20px 0
}
form label{
    display:block;
    margin-bottom:5px;
    font-weight:700;
    color:hsla(0,0%,100%,.86)
}
form input,form select{
    display:block;
    margin:0;
    min-width:100%;
    color:#d7d7d7;
    background-color:#101010;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-radius:none;
    padding:10px;
    border:none;
    border:1px solid #444;
    -webkit-transition:border .3s;
    transition:border .3s;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
form input.wide,form select.wide{
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
form input:hover,form select:hover{
    border-color:#737373
}
form input:focus,form select:focus{
    border-color:#737373;
    outline:none
}
.form-flex{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.form-flex .input-margin:first-child{
    margin-left:0
}
.form-flex .input-margin:last-child{
    margin-right:0
}
.input-margin{
    margin:1.5em;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1
}
.input-margin,.input-margin-small{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.input-margin-small{
    margin-top:.5em;
    margin-bottom:.5em
}
.input-margin-only-tb{
    margin-top:1.5em;
    margin-bottom:1.5em;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.styled-checkbox{
    position:absolute;
    opacity:0
}
.styled-checkbox+label{
    position:relative;
    cursor:pointer;
    padding:0
}
.styled-checkbox+label:before{
    content:"";
    margin-right:10px;
    display:inline-block;
    vertical-align:text-top;
    width:20px;
    height:20px;
    background:#101010
}
.styled-checkbox:hover+label:before{
    background:#164f84
}
.styled-checkbox:focus+label:before{
    -webkit-box-shadow:0 0 0 3px rgba(0,0,0,.12);
    box-shadow:0 0 0 3px rgba(0,0,0,.12)
}
.styled-checkbox:checked+label:before{
    background:#164f84
}
.styled-checkbox:disabled+label{
    color:#b8b8b8;
    cursor:auto
}
.styled-checkbox:disabled+label:before{
    -webkit-box-shadow:none;
    box-shadow:none;
    background:#ddd
}
.styled-checkbox:checked+label:after{
    content:"";
    position:absolute;
    left:5px;
    top:9px;
    background:#fff;
    width:2px;
    height:2px;
    -webkit-box-shadow:2px 0 0 #fff,4px 0 0 #fff,4px -2px 0 #fff,4px -4px 0 #fff,4px -6px 0 #fff,4px -8px 0 #fff;
    box-shadow:2px 0 0 #fff,4px 0 0 #fff,4px -2px 0 #fff,4px -4px 0 #fff,4px -6px 0 #fff,4px -8px 0 #fff;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
.marketing-checkbox{
    margin-top:40px
}
.country-select,.country-select-input,.country-select .inside{
    width:100%!important
}
.country-select .country-list{
    width:500px!important
}
.country-select.inside input[type=tel],.country-select.inside input[type=text]{
    width:100%!important
}
.country-select .country-list{
    border:1px solid #444!important
}
.country-select .country-list,.country-select .country-list .country{
    background-color:#101010!important
}
.country-select .country-list .country.highlight{
    background-color:#1d1d1d!important;
    color:#d7d7d7!important
}
.country-select .country-list .divider{
    border-color:#444!important
}
.flex-cont,.flex-cont-center{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.flex-cont-center{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.flex-end{
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
.flex-end,.flex-start{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.flex-start{
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start
}
.flex-row{
    -webkit-box-orient:horizontal;
    -ms-flex-direction:row;
    flex-direction:row
}
.flex-column,.flex-row{
    -webkit-box-direction:normal
}
.flex-column{
    -webkit-box-orient:vertical;
    -ms-flex-direction:column;
    flex-direction:column
}
.item{
    margin:1em
}
.item:first-child{
    margin-left:0
}
.item:last-child{
    margin-right:0
}
.item-1{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1
}
.item-2{
    -webkit-box-flex:2;
    -ms-flex:2;
    flex:2
}
.item-right{
    text-align:right;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1
}
.float-left{
    float:left
}
.float-right{
    float:right
}
.npb{
    padding-bottom:0!important
}
.npt{
    padding-top:0!important
}
.npr{
    padding-right:0!important
}
.npl{
    padding-left:0!important
}
.nmb{
    margin-bottom:0!important
}
.nmt{
    margin-top:0!important
}
.nmr{
    margin-right:0!important
}
.nml{
    margin-left:0!important
}
.sbb{
    padding-bottom:1.5em!important
}
.sbt{
    padding-top:1.5em!important
}
.sbr{
    padding-right:1.5em!important
}
.sbl{
    padding-left:1.5em!important
}
.smb{
    margin-bottom:1.5em!important
}
.smt{
    margin-top:1.5em!important
}
.smr{
    margin-right:1.5em!important
}
.sml{
    margin-left:1.5em!important
}
.pagewrap-center{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    min-height:100%;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
.pagewrap-center .item{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1
}
.pagewrap-center .item-centered{
    -webkit-box-flex:0;
    -ms-flex:none;
    flex:none;
    max-width:50%
}
.flex70{
    -ms-flex-preferred-size:70%;
    flex-basis:70%
}
.flex30{
    -ms-flex-preferred-size:30%;
    flex-basis:30%
}
.flex1{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1
}
.flex50{
    -ms-flex-preferred-size:50%;
    flex-basis:50%
}
.box{
    border:1px solid #444
}
.box .box-header{
    border-bottom:1px solid #444;
    padding:1em
}
.box .box-body{
    padding:1em
}
.category-filter{
    background-color:#05223d;
    width:100%
}
.category-filter-inner{
    margin:0 auto;
    max-width:1240px;
    padding:20px
}
.category-filter-group,.category-filter-inner{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row
}
.category-filter-group{
    margin-right:30px
}
.category-filter-group label{
    color:hsla(0,0%,100%,.8);
    font-weight:500;
    text-transform:uppercase
}
.category-filter-group select{
    border:0;
    background-color:#0d579b;
    color:hsla(0,0%,100%,.9);
    font-family:Roboto,sans-serif;
    font-weight:500;
    margin-left:20px;
    padding:5px;
    outline:0
}
.cat-card{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.cat-card .item{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    padding:1em;
    margin:1em
}
.cat-card .item:first-child{
    margin-left:0
}
.cat-card .item:last-child{
    margin-right:0
}
.cat-card .item-img{
    padding:0;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.cat-card .item-img:hover{
    border-color:#efb841
}
.cat-card .item-img:active{
    border-color:inherit
}
.cat-card .item-img img{
    width:250px;
    height:100%;
    opacity:.8;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.cat-card .item-img img:hover{
    opacity:1
}
.cat-card .item-img img:active{
    opacity:.7
}
.support-list li{
    margin-bottom:10px
}
.support-list li span{
    display:block
}
.module-twitch{
    background:linear-gradient(135deg,#6441a4,#6441a4 25%,#2b3a6c);
    padding:60px 0
}
.module-twitch-info{
    color:#eee;
    padding-right:30px
}
.module-twitch-info h2{
    margin:0
}
.module-twitch-links{
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end;
    color:#fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.module-twitch-links p{
    margin:0
}
.module-twitch-links-r .btn{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    border:1px solid hsla(0,0%,100%,.6);
    border-radius:5px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    font-size:1.4em;
    font-weight:500;
    -webkit-transition:all .1s;
    transition:all .1s
}
.module-twitch-links-r .btn span{
    font-weight:100
}
.module-twitch-links-r .btn svg{
    margin-right:10px
}
.module-twitch-links-r .btn:hover{
    background:hsla(0,0%,100%,.05)
}
.module-twitch-timezone span{
    display:inline-block;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    width:90px
}
.login-bg-outer{
    background:url("/img/login-bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50%;
    height:100%;
    z-index:-1
}
.register-bg-outer{
    background:url("/img/register-bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50%;
    height:100%;
    z-index:-1
}
.login-bg-card{
    background:rgba(0,0,0,.252);
    padding:2em;
    border:1px solid #d7d7d7;
    min-width:500px
}
.login-submit{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.login-link{
    color:#d7d7d7;
    margin-left:.75em;
    margin-right:.75em;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
.login-link:hover{
    color:#fff
}
.login-link:active{
    color:#cacaca
}
.two-factor-key,.two-factor-qrcode{
    margin:0
}
.two-factor-key{
    letter-spacing:3px
}
.reg-check{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.reg-check a{
    margin-left:.25em;
    background-color:#101010;
    border-radius:100%;
    padding:3px;
    display:inline-block;
    width:15px;
    height:15px;
    text-align:center;
    vertical-align:middle;
    font-size:13px
}
.reg-check input[type=checkbox]{
    display:none
}
.reg-check input[type=checkbox]+label{
    display:block;
    position:relative;
    padding-left:35px;
    font:14px/20px Open Sans,Arial,sans-serif;
    color:#ddd;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    margin-bottom:0
}
.reg-check input[type=checkbox]+label:last-child{
    margin-bottom:0
}
.reg-check input[type=checkbox]+label:before{
    content:"";
    display:block;
    width:20px;
    height:20px;
    border:1px solid #007b00;
    position:absolute;
    left:0;
    top:0;
    opacity:.6;
    -webkit-transition:all .12s,border-color .08s;
    transition:all .12s,border-color .08s
}
.reg-check input[type=checkbox]:checked+label:before{
    width:10px;
    top:-5px;
    left:5px;
    border-radius:0;
    opacity:1;
    border-top-color:transparent;
    border-left-color:transparent;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
.reg-check .tooltip-toggle{
    cursor:pointer;
    position:relative
}
.reg-check .tooltip-toggle svg{
    height:18px;
    width:18px
}
.reg-check .tooltip-toggle:before{
    position:absolute;
    top:-119px;
    left:-80px;
    background-color:#101010;
    border-radius:5px;
    color:#fff;
    content:attr(aria-label);
    padding:1rem;
    text-transform:none;
    -webkit-transition:all .5s ease;
    transition:all .5s ease
}
.reg-check .tooltip-toggle:after{
    position:absolute;
    top:-12px;
    left:13px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #101010;
    content:" ";
    font-size:0;
    line-height:0;
    margin-left:-5px;
    width:0
}
.reg-check .tooltip-toggle:after,.reg-check .tooltip-toggle:before{
    color:#efefef;
    font-size:16px;
    opacity:0;
    pointer-events:none;
    text-align:center
}
.reg-check .tooltip-toggle:focus:after,.reg-check .tooltip-toggle:focus:before,.reg-check .tooltip-toggle:hover:after,.reg-check .tooltip-toggle:hover:before{
    opacity:1;
    -webkit-transition:all .75s ease;
    transition:all .75s ease
}
h1.fsexpo{
    padding-bottom:0!important;
    margin-bottom:7px
}
.fsexpo__subtitle{
    font-size:1.2em;
    color:#ffffffbd;
    z-index:103;
    position:relative;
    padding-bottom:.7em
}
header{
    background:#164f84;
    background-repeat:no-repeat;
    background-position:50%;
    background-size:cover
}
header #topbar{
    width:100%;
    z-index:500;
    -webkit-transition:background-color .5s linear;
    transition:background-color .5s linear;
    background:rgba(0,0,0,.35);
    min-height:80px;
    margin-top:50px
}
header.homepage{
    background:#101010
}
header.homepage #topbar{
    position:absolute;
    margin-top:50px
}
header.homepage .hero{
    margin-top:40px;
    text-align:center;
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
header.homepage .hero h1{
    text-shadow:2px 2px 20px #000
}
header.homepage .hero .btn{
    margin-top:10px
}
header.homepage #hamburger{
    top:22px
}
header.productpage{
    background:#101010;
    background-size:cover;
    background-position-x:center;
    position:relative
}
header.productpage #topbar{
    position:absolute;
    margin-top:30px
}
header.productpage #hamburger{
    top:22px
}
header.productpage h1{
    padding-top:350px;
    font-size:2.6em;
    font-weight:300
}
header.productpage h1,header.productpage h2{
    padding-bottom:20px;
    z-index:100;
    position:relative
}
header.productpage h2{
    margin-top:-38px;
    font-size:1.4em;
    color:hsla(0,0%,100%,.67);
    font-weight:400
}
header.productpage:after{
    content:"";
    background:-webkit-gradient(linear,left top,left bottom,color-stop(40%,transparent),to(rgba(0,0,0,.6)));
    background:linear-gradient(transparent 40%,rgba(0,0,0,.6));
    height:280px;
    width:100%;
    position:absolute;
    z-index:0;
    bottom:0;
    left:0
}
.orbxlogo{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.orbxlogo img{
    height:40px;
    width:90px;
    background:no-repeat scroll top transparent
}
#hamburger{
    position:absolute;
    top:62px;
    right:20px;
    width:38px;
    display:none;
    cursor:pointer
}
.hero{
    padding-top:50px;
    padding-bottom:50px
}
#accountBar{
    background:#101010;
    border-bottom:1px solid #444;
    color:#d7d7d7;
    position:fixed;
    width:100%;
    height:50px;
    z-index:999;
    top:0;
    -webkit-box-shadow:0 3px 3px 0 rgba(0,0,0,.5);
    box-shadow:0 3px 3px 0 rgba(0,0,0,.5)
}
#accountBar .fixed-header-logo{
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    height:50px
}
#accountBar .fixed-header-logo,#accountBar .fixed-header-logo a{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
#accountBar .fixed-header-logo a img{
    height:25px
}
#accountBar ul{
    padding:0;
    margin:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    list-style:none;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    height:50px
}
#accountBar ul li a:not(.btn){
    padding:10px 0 10px 30px;
    display:inline-block;
    font-size:14px;
    position:relative
}
#accountBar ul li a:not(.btn) .btn-red{
    background-color:#982e2b
}
#accountBar ul li a:not(.btn) svg{
    vertical-align:middle;
    fill:#777
}
#accountBar ul li a:not(.btn) span{
    color:#d7d7d7;
    vertical-align:middle;
    padding-left:5px;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
#accountBar ul li a:not(.btn) span:hover{
    color:#fff
}
#accountBar ul li a:not(.btn) .cart-number{
    position:absolute;
    bottom:5px;
    left:20px;
    padding:5px;
    border-radius:100%;
    height:8px;
    width:8px;
    background-color:#101010;
    font-weight:700;
    line-height:8px;
    font-size:9px;
    text-align:center;
    color:#d7d7d7;
    border:1px solid #777
}
.header-centerpush{
    width:1240px;
    margin:0 auto;
    padding-left:20px;
    padding-right:20px
}
.header-centerpush,.header-signup{
    height:50px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.header-signup{
    padding:0;
    padding-left:30px;
    margin:0;
    list-style:none;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.header-signup:last-child{
    padding-left:10px
}
.header-signup .logout{
    margin-left:10px
}
.signup-btn{
    background-color:#2b2a2a
}
.signup-btn:hover{
    background-color:#373737
}
.signup-btn:active{
    background-color:#1e1e1e
}
nav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
nav ul{
    margin:0;
    line-height:80px;
    padding:0;
    text-align:right
}
nav ul li{
    display:inline-block
}
nav ul li a{
    color:hsla(0,0%,100%,.67);
    text-decoration:none;
    font-size:1em;
    margin-left:2em
}
nav ul li a:hover{
    color:hsla(0,0%,100%,.9)
}
nav ul li a.active{
    color:#fff
}
nav ul li .btn{
    margin-left:2em
}
nav ul .submenu{
    display:none;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    position:absolute;
    background:hsla(0,0%,100%,.95);
    text-align:left;
    margin-left:-215px;
    min-width:500px;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,.44);
    box-shadow:0 0 20px rgba(0,0,0,.44);
    z-index:100
}
nav ul .submenu .submenu-category{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    text-align:left
}
nav ul .submenu .submenu-category:last-child .submenu-content{
    border-right:0
}
nav ul .submenu .submenu-category .submenu-content{
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    border-right:2px solid #c8c8c8
}
nav ul .submenu .submenu-category.esp h3{
    color:#c03a36
}
nav ul .submenu .submenu-category.esp li a.active{
    background-color:rgba(192,58,54,.1)
}
nav ul .submenu .submenu-category.xpl h3{
    color:#164f84
}
nav ul .submenu .submenu-category.xpl li a.active{
    background-color:rgba(22,79,132,.1)
}
nav ul .submenu .submenu-category.afs h3{
    color:#004800
}
nav ul .submenu .submenu-category.afs li a.active{
    background-color:rgba(0,123,0,.1)
}
nav ul .submenu .submenu-category h3{
    margin:10px 14px 5px;
    font-size:16px;
    font-weight:500;
    color:#000;
    line-height:normal
}
nav ul .submenu .submenu-category li{
    display:block;
    line-height:1;
    width:185px
}
nav ul .submenu .submenu-category li a{
    color:#000;
    padding:10px 15px;
    margin:0;
    display:block
}
nav ul .submenu .submenu-category li a:hover{
    background:#cfcfcf!important;
    color:#000
}
nav ul .submenu .submenu-category li a.active{
    background-color:rgba(0,0,255,.05)
}
nav ul .submenu .submenu-divider{
    height:145px;
    border-right:2px solid #c8c8c8;
    -ms-flex-item-align:center;
    align-self:center
}
nav ul .submenu:before{
    content:"";
    position:absolute;
    bottom:100%;
    left:0;
    right:0;
    margin:0 auto;
    width:0;
    height:0;
    border-bottom:10px solid #fff;
    border-left:10px solid transparent;
    border-right:10px solid transparent
}
nav ul li:hover .submenu{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
section.content{
    margin-top:30px;
    margin-bottom:20px
}
footer{
    background:#1b1b1b;
    width:100%;
    border-top:1px solid #444;
    border-bottom:4px solid #1b1b1b;
    margin-top:5px
}
footer .footer-container{
    height:100%;
    margin:0 auto
}
footer .footer-container,footer .footer-container .footer-left{
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex:1;
    -webkit-box-flex:1;
    flex:1;
    -ms-flex-align:center;
    -webkit-box-align:center;
    align-items:center
}
footer .footer-container .footer-left{
    -ms-flex-pack:start;
    -webkit-box-pack:start;
    justify-content:flex-start;
    text-align:left;
    margin-top:4px
}
footer .footer-container .footer-right{
    -ms-flex:1;
    -webkit-box-flex:1;
    flex:1;
    -ms-flex-pack:end;
    -webkit-box-pack:end;
    justify-content:flex-end;
    display:-ms-flexbox;
    display:-webkit-box;
    display:flex;
    -ms-flex-line-pack:center;
    align-content:center;
    -ms-flex-align:center;
    -webkit-box-align:center;
    align-items:center
}
footer .footer-container .footer-right .item{
    text-align:center;
    margin:5px
}
footer .footer-container .footer-right .item a{
    margin:15px;
    display:inline-block;
    vertical-align:middle
}
footer .footer-container .footer-right .item a span{
    font-size:0
}
footer .footer-container .footer-right .item a svg{
    height:25px;
    width:25px;
    padding:0;
    margin:0;
    fill:#3b5998;
    vertical-align:middle;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}
footer .footer-container .footer-right .item a svg:hover{
    fill:#4c70ba
}
footer .footer-container .footer-right .item a svg:active{
    fill:#344e86
}
.pagewrap{
    min-height:100%
}
.pagewrap:after{
    content:"";
    display:block
}
.pagewrap:after,footer{
    height:60px
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}